$primary-color: rgba(255, 87, 87, 1);
$text-color: rgba(255, 255, 255, 1);
$blue-border: 1px solid blue;
$red-border: 1px solid red;
$green-border: 1px solid green;
@mixin font-weight-size-700-60 {
  font-weight: 700;
  font-size: 60px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  //   outline: 1px solid yellow;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  color: $text-color;
  background-color: rgba(15, 15, 15, 1);
}

.homepage-container {
  @include flex-col-center;
  padding-top: 100px;
}

.search-bar-homepage {
  display: flex;
  padding-bottom: 30px;

  &-input {
    width: 470px;
    height: 90px;
  }
  &-icon {
    width: 96px;
    height: 90px;
    background-color: $primary-color;
  }
  &-download-btn {
    width: 238px;
    height: 67px;
    @include flex-center();
    gap: 25px;
    color: $primary-color;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(33, 7, 7, 1);
  }
}

.cards-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 255px;
}
.cards-inner-container {
  width: 1087px;
}
.cards {
  display: flex;
  padding: 35px 5px 0px 15px;
  justify-content: space-evenly;
  gap: 25px;
}

.individual-card {
  width: 527px;
  height: 429px;
  border-radius: 9.9px;
  border: 1px solid rgba(193, 193, 193, 1);

  z-index: 0;
}
.bgEllipseImage {
  background-image: url("/assets/SVG/bgEllipseCardsSection.svg");
  width: 437px;
  height: 437px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 240px;
  left: 0px;
  z-index: 10;
}
.card-top-details {
  display: flex;
  font-size: 18px;
  font-weight: 400;

  &-university-post-container {
    display: flex;

    &-post-to {
    }
  }
  &-post-meta {
    display: flex;
  }
}

.card-top-heading {
  border-bottom: 1px solid var(--Grey);
  padding: 35px 0px 35px 25px;
  font-weight: 500;
  font-size: 20px;
}

.card-comment {
  padding: 35px 25px 35px 25px;
  font-weight: 400;
  font-size: 18px;
  height: 200px;
}

.byDate {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 35px 25px;
  font-size: 18px;
}
.commentsData {
  padding-left: 25px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 18.9px;
}

.views {
  color: var(--Primary);
}

.likes {
  color: var(--Primary);
}
.dislikes {
  color: var(--Primary);
}

.university-page-logos {
  padding: 0px 105px 0px 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 25px;
}

.log-in-component {
  padding: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.log-in-bg-image {
  background-image: url("/assets/pngimages/logInBgImage.png");
  width: 1067px;
  height: 409px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  overflow: visible;
}
// .log-in-bg-image2 {
//   background-image: url("/assets/pngimages/logInBgImage2.png");
//   width: 1000px;
//   height: 415px;
//   background-size: cover;
//   background-repeat: no-repeat;

//   position: absolute;
//   top: 5%;

// }

.log-in-image-content {
  display: flex;
  flex-direction: column;

  padding-top: 100px;
}
.logInButton {
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
  width: 222px;
  height: 75px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 19px;
  align-self: center;
}
