@import "globals";
.hero-heading {
  @include font-weight-size-700-60;
  text-align: center;
  padding-bottom: 30px;
}
.hero-sub-heading {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 50px;
}
.posts-page-heading {
  @include font-weight-size-700-60;
  text-align: center;
}
.sub-heading-container {
  @include flex-center;
}
.posts-page-subheading {
  width: 360px;
  display: flex;
  justify-content: space-around;
}
.university-page-heading {
  @include font-weight-size-700-60;
  color: $primary-color;
  padding: 0px 0px 0px 55px;
}
.news-page {
  &-heading {
    @include font-weight-size-700-60;
    text-align: center;
    color: $primary-color;
    padding: 55px 0px 55px 0px;
  }
  &-subheading {
    font-weight: 500;
    font-size: 20px;
    padding: 0px 0px 55px 0px;
    text-align: center;
  }
}

.rankings-heading {
  @include font-weight-size-700-60;
  color: $primary-color;
}
.rankings-sub-heading-one {
  font-weight: 500;
  font-size: 20px;
}
.rankings-sub-heading-two {
  font-weight: 500;
  font-size: 20px;
}
.footer-headings {
  width: 35%;
}
.footer-sub-heading {
  font-weight: 500;
  font-size: 20px;
}
.footer-sub-heading-social-media {
  font-weight: 500;
  font-size: 20px;
  padding: 80px 0px 46px 0px;
}

.log-in-heading {
  font-weight: 700;
  font-size: 54px;
  padding-bottom: 10px;
}

.log-in-sub-heading {
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 40px;
  text-align: center;
}
