@import "globals";

.homepage-container {
  &-hero-heading {
    @include font-weight-size-700-60;
    text-align: center;
    padding-bottom: 40px;

    &-news {
      @include text-gradient-color;
    }

    &-reviews {
      @include text-gradient-color;
    }
  }
  &-hero-sub-heading {
    @include font-weight-size-500-20;
    padding-bottom: 60px;
  }
}

.posts-page-heading {
  @include font-weight-size-700-60;
  text-align: center;
  padding: 200px 0px 30px 0px;

  &-trending {
    @include text-gradient-color;
  }
}
.posts-page-sub-heading-container {
  @include flex-center;
  padding-bottom: 50px;
}
.posts-page-sub-heading {
  width: 360px;
  display: flex;
  justify-content: space-around;
}
.university-page-heading {
  @include font-weight-size-700-60;
  color: $primary-color;
  padding: 0px 0px 100px 55px;
}
.news-page {
  &-heading {
    @include font-weight-size-700-60;
    text-align: center;
    @include text-gradient-color;
    padding: 125px 0px 35px 0px;
  }
  &-subheading {
    @include font-weight-size-500-20;
    padding: 0px 0px 55px 0px;
    text-align: center;
  }
}
.rankings-page {
  &-heading {
    @include font-weight-size-700-60;
    color: $primary-color;
    padding: 150px 0px 20px 97px;
  }
  &-sub-heading-one {
    @include font-weight-size-500-20;
    padding: 0px 0px 20px 97px;
  }
  &-sub-heading-two {
    @include font-weight-size-500-20;
    padding: 0px 0px 100px 97px;
  }
}

.log-in {
  &-heading {
    font-weight: 700;
    font-size: 54px;
    padding-bottom: 10px;
  }

  &-sub-heading {
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 40px;
    text-align: center;
  }
}
.footer-headings {
  width: 35%;
}
.footer-sub-heading {
  @include font-weight-size-500-20;
}
.footer-sub-heading-social-media {
  font-weight: 500;
  font-size: 20px;
  padding: 80px 0px 46px 0px;
}
