@import "globals";
.hero-heading {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
}
.hero-sub-heading {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 50px;
}
.footer-headings {
  width: 35%;
}
.footer-sub-heading {
  font-weight: 500;
  font-size: 20px;
}
.footer-sub-heading-social-media {
  font-weight: 500;
  font-size: 20px;
  padding: 80px 0px 46px 0px;
}

.log-in-heading {
  font-weight: 700;
  font-size: 54px;
  padding-bottom: 10px;
}

.log-in-sub-heading {
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 40px;
  text-align: center;
}
